## MAIN DEFAULTS ###
Options +FollowSymLinks -Indexes
DirectoryIndex index.html index.htm index.php
DefaultLanguage en-US
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^lib/(.*) lib/$1 [L]
    RewriteRule ^sandbox/(.*) sandbox/$1 [L]
    RewriteRule ^addons/(.*) addons/$1 [L]
    RewriteRule ^vfs/(.*) data/vfs/$1 [L]

    RewriteRule ^(.*)$ webroot/$1 [QSA,L]
</IfModule>
